<!doctype html>
	<title>Favorite Locations</title>
	<head>
		<meta charset="utf-8">
		<title>uber test</title>

		<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->

		<!--
			Include JS files
		-->					
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjV9fRvgpFI2g5FcwnIkU4lVu9QfL-ddM&sensor=true"></script>
		<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
		<script type="text/javascript" src="/static/js/underscore-min.js"></script>

		<!--
			Include CSS files
		-->
		<link rel="stylesheet" href="https://clients.uber.com/stylesheets/app.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
	</head>
	<header></header>
	<section>

	{% block body %}{% endblock %}
</section>

